* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    
}

header {
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5599bb;
    img {
        width: 80%;
        transform: translate(15%);
    }
}

main {
    width: 70%;
    margin: 0 auto;
    padding: 20px 0;
    .addNewPost {
        width: 10%;
        margin: 0 auto;
        a {
            font-size: 4em;
            color: rgb(61, 61, 61);
            &:hover {
                color: #33ccff;
                transition: 1s;
            }
        };
    }
    
    
    h1 {
        text-align: center;
        padding: 20px 0;
    }
    .postContainer {
        width: 80%;
        min-height: 250px;
        margin: 0 auto;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 5px;
        padding: 20px 20px;
        display: flex;
        margin-bottom: 50px;
        
        
        #left {
            width: 20%;
            img {
                width: 150px;
                height:150px;
                border-radius: 50%;
            }
        }
        #right {
            width: 80%;
            .possibleActions {
                height: 5vh;
                display: flex;
                justify-content: flex-end;
                i {
                    color: rgb(61, 61, 61);
                    font-size: 25px;
                    padding-left: 20px;
                    transition: 1s;
                }
                i:hover {
                    color: #33ccff;
                    font-weight: bolder;
                    transition: 1s;
                }
                button {
                    background-color: white;
                    border: 1px solid white;
                }
            }
            div:nth-child(2) {
                height: 5vh;
                display: flex;
                
                div {
                    display: flex;
                    align-items: center;
                    width: 50%;
                    .creationDate {
                        color: rgb(61, 61, 61);
                    }
                }
            }
            div:nth-child(3) {
                height: calc(100% - 15vh);
                padding-top: 10px;
            }
            div:nth-child(4) {
                height: 5vh;
                display: flex;
                justify-content: space-between;
                align-items: center;
                i {
                    color: rgb(61, 61, 61);
                    font-size: 15px;
                    transition: 1s;
                }
                i:hover {
                    color: #33ccff;
                    font-weight: bolder;
                    transition: 1s;
                }
            }
        }
    }
}

footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #5599bb;
}
